body {
  margin: 0;
  padding: 0;
  background-image: url("imagenes/cancha1.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
}

.timer-container{
  flex-wrap: wrap;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
  animation: animateText 10s infinite;
}

  #limpiar{
    justify-content:right;
    align-items:center;     
    animation: animateText 10s infinite;      
    display: none;
  }
  
  .limpiar-btn {
    padding: 8px 20px;
    font-size: 20px;
    margin-right: 10px;
    background-color: rgba(17, 19, 128, 0.5);       
  }

  .timer {
    font-size: 48px;
    color: white;
    margin-right: 20px;
    background-color: rgba(30, 32, 145, 0.5);    
  }
  
  .start-btn,
  .stp-btn,
  .reset-btn {
    padding: 8px 20px;
    font-size: 20px;
    margin-right: 10px;
    background-color: green;
   
  }
  
  @keyframes animateText {
    0% {
      transform: scale(1);
      color: red;
    }
    50% {
      transform: scale(0.90);
      color: blue;
    }
    100% {
      transform: scale(1);
      color: green;
    }
  }